In [1]:
from createDS import dataset
asml = dataset('ASML','6mo','OG')
X_train, X_test, y_train, y_test, todays_data = asml.split(1)

In [2]:
X_train

,RSI,AROOND_14,AROONU_14,AROONOSC_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,ADX_14,DMP_14,DMN_14
Date,,,,,,,,,,
2023-03-24 00:00:00-04:00,0.772829,0.357143,0.928571,0.571429,-0.098428,1.000000,-0.576633,0.750228,0.510603,0.574894
2023-03-27 00:00:00-04:00,0.754030,0.285714,0.857143,0.571429,-0.065131,0.867696,-0.476576,0.708652,0.482101,0.542805
2023-03-28 00:00:00-04:00,0.730177,0.214286,0.785714,0.571429,-0.054240,0.716300,-0.393977,0.653622,0.458712,0.625942
2023-03-29 00:00:00-04:00,0.822159,0.142857,0.714286,0.571429,0.026195,0.736572,-0.309040,0.644074,0.570744,0.564585
2023-03-30 00:00:00-04:00,0.891052,0.071429,1.000000,0.928571,0.153404,0.847888,-0.211268,0.668513,0.640790,0.518354
...,...,...,...,...,...,...,...,...,...,...
2023-07-28 00:00:00-04:00,0.745246,0.571429,0.285714,-0.285714,-0.156394,-0.296609,-0.046517,0.637800,0.583307,0.795142
2023-07-31 00:00:00-04:00,0.736485,0.500000,0.214286,-0.285714,-0.112307,-0.147654,-0.063543,0.596252,0.569646,0.764550
2023-08-01 00:00:00-04:00,0.708627,0.428571,0.142857,-0.285714,-0.098901,-0.090868,-0.074022,0.566872,0.549595,0.787242
2023-08-02 00:00:00-04:00,0.604589,0.357143,0.071429,-0.285714,-0.181959,-0.241560,-0.101877,0.577904,0.495477,0.934267
2023-08-03 00:00:00-04:00,0.597045,0.285714,0.000000,-0.285714,-0.252527,-0.336721,-0.140705,0.601445,0.475900,0.989922

In [3]:
y_train

Date
2023-03-24 00:00:00-04:00   -0.085958
2023-03-27 00:00:00-04:00   -0.107776
2023-03-28 00:00:00-04:00    0.485287
2023-03-29 00:00:00-04:00    0.426105
2023-03-30 00:00:00-04:00    0.095253
                               ...
2023-07-28 00:00:00-04:00   -0.043638
2023-07-31 00:00:00-04:00   -0.135866
2023-08-01 00:00:00-04:00   -0.578864
2023-08-02 00:00:00-04:00   -0.048001
2023-08-03 00:00:00-04:00         NaN
Name: Change, Length: 91, dtype: float64

In [36]:
import json
the_model = "LSTM1"
model_dict = json.load(open("my_models/" + the_model + "/" + the_model + ".json"))
X_train, X_test, y_train, y_test, todays_data = dataset(model_dict["data_before_save"]["stock"],model_dict["data_before_save"]["period"],model_dict["data_before_save"]["train_data_name"]).split(1)
X_train = X_train.loc[model_dict['data_after_save']['date_last_trained']:].iloc[1:] #there will be no data if training data is last from today
#y_train = y_train.loc[model_dict['data_after_save']['date_last_trained']:].iloc[1:]
#last_day_trained_on = str(X_train.iloc[-1]).split("Name:")[-1].split(", ")[0]
#print(model_dict['data_after_save']['date_last_trained'])

In [37]:
todays_data

,RSI,AROOND_14,AROONU_14,AROONOSC_14,MACD_12_26_9,MACDh_12_26_9,MACDs_12_26_9,ADX_14,DMP_14,DMN_14
Date,,,,,,,,,,
2023-08-03 00:00:00-04:00,0.597045,0.285714,0.0,-0.285714,-0.252527,-0.336721,-0.140705,0.601445,0.4759,0.989922

In [27]:
str(X_train.loc[model_dict['data_after_save']['date_last_trained']:].iloc[-1]).split("Name:")[-1].split(", ")[0]

' 2023-08-03 00:00:00-04:00'

In [35]:
str(X_train.iloc[-1]).split("Name:")[-1].split(", ")[0]

' 2023-08-03 00:00:00-04:00'

In [20]:
last_day_trained_on = str(X_train.loc[model_dict['data_after_save']['date_last_trained']:].iloc[1:]).split("Name:")[-1].split(", ")[0]

In [22]:
X_train.loc[model_dict['data_after_save']['date_last_trained']:].iloc[1:]

Empty DataFrame
Columns: [RSI, AROOND_14, AROONU_14, AROONOSC_14, MACD_12_26_9, MACDh_12_26_9, MACDs_12_26_9, ADX_14, DMP_14, DMN_14]
Index: []

In [21]:
last_day_trained_on

'Empty DataFrame\nColumns: [RSI'

In [12]:
y_train

Date
2023-08-03 00:00:00-04:00   NaN
Name: Change, dtype: float64